.edit-profile {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;

    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        align-self: center;
    }

    &__save {

    }

    &__loading {
        text-align: center;
    }
}