@import '../../style/variables.scss';

.about {
    padding: 100px 0;

    &__wrapper {
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 20px;
    }

    &__details {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 75px;
        p {
            line-height: 2.2;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.what {
    margin-left: 40px;
}

.what,
.how {
    width: 80%;

    &__descr {
        line-height: 2.2;
    }
}

.our-team {
    &__teammates {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__teammate {
        text-align: center;
        border: 1px solid #767676;
        padding: 20px 33px;
        box-shadow: 10px -6px 3px #949494;
        line-height: 1.4;
        transform: scale(1);
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 5px 10px 0px #949494; 
            transition: all .3s ease-in-out;
        }
        &__img {
            margin: 0 auto 20px;
            width: 120px;
            height: 120px;
            img {
                display: block;
                width: 100%;
            }
        }
        &__position {
            border-bottom: 1px solid #767676;
            font-weight: 400;
            font-size: 15px;
            padding-bottom: 6px;
        }
        &__fullname {
            font-weight: 500;
            font-size: 16px;
            margin-top: 10px;
        }
        &__link {
            display: block;
            margin-top: 22px;
            font-size: 16px;
            text-decoration: none;
            color: $mainTextColor;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}