@import '../../style/variables.scss';

.bloging {
    padding: 100px 0;
    &__descr {
        margin: 0 auto 60px;
        max-width: 1000px;
        font-weight: 500;
        font-size: 18px;
        line-height: 2.2;
        text-align: center;
    }
}

.editor__title {
    width: 91%;
    padding: 20px;
    font-size: 18px;
    &:focus {
        outline: none;
    }
}

.editor__tag {
    padding: 10px;
    border: 1px solid $navigationColor;
    border-radius: 4px 0 0 4px;
    &:focus {
        outline: none;
    }
}

.tags__info {
    margin-top: 15px;
    font-weight: 500;
    font-size: 17.5px;
}

.add-tag__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}