@import '../../style/variables';

.header {
    position: relative;
    background: url('../../resources/img/header/hero-bg.jpg') center center/cover no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 813px;

    }

    &__posts {
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: 282px 282px;
    }
}

.posts {
    &__item {
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;

        &_main {
            padding-bottom: 40px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            z-index: 2;
            transition: all .5s ease;
        }

        &:hover::before {
            background-color: rgba(0, 0, 0, 0.4);
            transition: all .3s ease;
        }
    }

    &__item_main {
        background: url('../../resources/img/header/posts/post-programming.jpg') center center/cover no-repeat;
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    &__item_top {
        background: url('../../resources/img/header/posts/post-managment.jpg') center center/cover no-repeat;
        grid-row: 1 / 2;
        grid-column: 3;
    }

    &__item_bottom {
        background: url('../../resources/img/header/posts/post-watch.jpg') center center/cover no-repeat;
        grid-row: 2 / 3;
        grid-column: 3;
    }

    &__content {
        padding: 0 20% 0 30px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        z-index: 2;

        &_main {
            padding: 0 20% 0 60px;
            gap: 25px;
        }
    }

    &__link {
        color: $titleColor;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all .3s ease;

        &:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            transition: all .3s ease;
        }
    }
}