.button {
    &_form {
        position: absolute;
        padding: 0 15px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $postLinksColor;
        border: none;
        border-radius: 0 3px 3px 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 2.5px;
        color: $titleColor;
        text-transform: uppercase;
        cursor: pointer;
    }
    &_contact {
        height: 54px;
        width: 80%;
        background-color: $mainTextColor;
        color: $titleColor;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 3.3;
        letter-spacing: 3px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s linear;
        transform: scale(1);
        &:hover {
            transition: all .3s linear;
            transform: scale(1.01 );
        }
    }
    &_sign {
        margin-top: 40px;
        height: 54px;
        width: 100%;
        background-color: $titleColor;
        color: $navigationColor;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 3.3;
        letter-spacing: 3px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s linear;
        transform: scale(1);
        &:hover {
            transition: all .3s linear;
            transform: scale(1.009);
        }
    }

    &_mini-profile {
        background: transparent;
        padding: 7px;
        border: 1px solid $titleColor;
        border-radius: 4px;
        font-weight: 500;
        font-size: 13.5px;
        letter-spacing: 1.5px;
        text-decoration: none;
        text-transform: uppercase;
        color: $titleColor;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
            transition: all .3s ease;
        }
    }
    
    &_profile {
        border: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 2.7;
        color: $mainTextColor;
        opacity: 0.7;
        text-decoration: none;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &_active {
            border-bottom: 2px solid $mainTextColor;
            opacity: 1;
        }
    }

    &_follow {
        font-size: 20px;
        font-weight: 500;
        padding: 10px 15px;
        border: 1px solid $navigationColor;
        &:hover{
            background-color: #478d27;
            border: 1px solid #575757;
            color: $titleColor;
            transition: all .2s ease-in;
        }
    }

    &_edit {
        &:hover{
            background-color: #478d27;
            border: 1px solid #575757;
            color: $titleColor;
            transition: all .2s ease-in;
        }
    }

    &_cover {
        margin: 0;
        padding: 10px;
        border: 1px solid $navigationColor;
        border-radius: 4px;
        color: $navigationColor;
        cursor: pointer;
        transition: all .1s linear;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.3;
        &:hover {
            opacity: 0.9;
            transition: all .1s linear;
        }
    }

    &__add-tag {
        padding: 10px;
        border: 1px solid $navigationColor;
        border-radius: 0 4px 4px 0;
        background-color: $navigationColor;
        color: $titleColor;
        cursor: pointer;
        transition: all .3s linear;
        &:hover {
            transition: all .3s linear;
            background-color: #262626;;
        }
    }

    &__remove-tag {
        padding: 10px;
        border: 1px solid $navigationColor;
        border-radius: 4px;
        color: $navigationColor;
        cursor: pointer;
        transition: all .1s linear;
        transform: scale(1);
        &:hover {
            transition: all .1s linear;
            transform: scale(1.02);
        }
    }

    &_tag-in-list {
        border: none;
        color: $navigationColor;
        cursor: pointer;
        transition: all .1s linear;
        transform: scale(1);
    }

    &__publish {
        padding: 15px 0;
        width: 300px;
        border: none;
        border-radius: 2px;
        background-color: $mainTextColor;
        font-size: 20px;
        text-transform: uppercase;
        color: $titleColor;
        cursor: pointer;
        transition: all .3s linear;
        transform: scale(1);
        &:hover {
            transition: all .3s linear;
            transform: scale(1.009);
        }
    }

    &_change {
        background-color: transparent;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 15px;
        border: 1px solid $navigationColor;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s ease-in;
    }

    &_delete {
        &:hover{
            background-color: #992121;
            border: 1px solid #575757;
            color: $titleColor;
            transition: all .2s ease-in;
        }
    }


}
