/* Libre Baskerville */

@font-face {
    font-family: 'Libre Baskerville';
    src: url("../resources/fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Libre Baskerville';
    src: url("../resources/fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Metropolis */

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-thin-webfont.woff2") format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-extralight-webfont.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-light-webfont.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-regular-webfont.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-medium-webfont.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-semibold-webfont.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-bold-webfont.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis/metropolis-extrabold-webfont.woff2") format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url("../resources/fonts/metropolis//metropolis-black-webfont.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Mosk */

@font-face {
    font-family: 'Cinzel Decorative';
    src: url("../resources/fonts/cinzeldecorative/CinzelDecorative-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url("../resources/fonts/cinzeldecorative/CinzelDecorative-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url("../resources/fonts/cinzeldecorative/CinzelDecorative-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}